<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "sk.zadako.mobiltest"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Mobile test</name>

    <description>
        An example for Mobileweb . 
    </description>
    <icon src="icons.png" gap:platform="android" />

    <author href="http://www.zadako.sk" email="toth@zadako.sk">
        Tomato
    </author>

</widget>
